@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: black;
    font-family: 'Raleway', sans-serif;
    color: #fff;
}

.descripcion {
    display: flex;
    padding: 2rem;
    gap: 13rem;
}

.descripcion>div>img {
    width: 100%;
    height: 100%;
    padding: 2rem 0 0 15rem;
}

.descripcion2 {
    padding-right: 15rem;
}

.titulo,
.educacion,
.experiencia,
.portafolio,
.footer {
    color: inherit;
    text-align: center;
    padding: 2rem 0;
}

.educacion {
    background-color: #232829;
}

.social {
    display: flex;
    justify-content: center;
    gap: 4rem;
    font-weight: normal;
}